.git
.gitignore
.git/
.github/

.DS_Store
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.coverage
bandit-report.txt

expectations/
notebooks/
reports/
metadata/
docs/
templates/
tests/

Makefile
README.md

requirements_dev.txt